<!--<footer class="page-footer">-->
<!--    <div class="container">-->
<!--        &lt;!&ndash; <div class="links"><a href="#">About me</a><a href="#">Contact me</a><a href="#">Projects</a></div> &ndash;&gt;-->
<!--        <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="https://www.instagram.com/kpasd02/?hl=ko"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>-->
<!--    </div>-->
<!--</footer>-->
<div class="pop-wrapper">
    <div class="pop-picture">
        <img class="pic" src="#" alt="">
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<!--index.js 추가-->
<script src="/js/main.js"></script>
<!--index.js 호출 코드를 보면 절대 경로(/)로 시작합니다. index.js 가 있는곳이 /경로로 됨-->
</body>
</html>