{{>layout/header}}
<div class="col-md-12">
    <div class="row">
       <div class="col-md-6">
           {{#userName}}
                Logged in as : <span id="user">{{userName}}</span><a href="/logout" class="btn btn-info active" role="button">Logout</a>
<!-- 스프링 시큐리티에서 기본적으로 제공하는 로그아웃 URL입니다. 따로 컨트롤러를 만들 필요는 없다.
SecurityConfig 클래스에서 URL을 변경할 수는 있지만 기본 URL을 사용해도 충분함
-->
            {{/userName}}
           {{^userName}}
               <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
<!-- 머스테치에서 해당 값이 존재하지 않는 경우에는 ^를 사용합니다.
여기서는 userName이 없다면 로그인 버튼을 노출시키도록 구성했습니다.
/oauth2/authorization/google -> 스프링 시큐리티에서 기본적으로 제공하는 로그인 URL입니다.
로그아웃 URL과 마찬가지로 개발자가 별도의 컨트롤러를 생성할 필요가 없습니다.
-->
            {{/userName}}
       </div>
    </div>
</div>
{{>layout/footer}}